// Основная палитра
$color-bg-dark: #000000;
$color-bg-light: #ffffff;
$color-primary: #67A5EB;
$color-primary-hover: #45526E;
$color-secondary: #393B3C;
$color-text-white: #ffffff;
$color-text-muted: #747d8c;
$color-error: #FF7575;

// Шрифты
$font-main: 'Inter', sans-serif;